
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Forum&display=swap');

/* removes default padding and margins for all elements*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
}

:root{
    --primary: #2d2057;
    --secondary: #a39f9f;
    --white:#F2F2F2;
}

body{
    font-family: "DM Sans", sans-serif;
    color: var(--primary);
}

a{
    text-decoration: none;
}

.container{
    max-width: 1200px;
    padding: 16px;
    margin:auto;
}

section{
    margin: 80px auto;
}

.logo{
    max-width: 150px;
}

nav{
    background-color: var(--white);
    display: flex; /*makes the parts of the nav be side by side instead of on top of each other*/
    justify-content: space-around; /*makes each part push to the other side*/
    align-items: center; /*aligns the nav list and logo where the list items are centered to the logo*/
    padding: 15px;
    margin-bottom: 10px;
   
}

.nav-list{
    display: flex;
    list-style: none;
    gap: 28px;
    align-items: center; /*centers the button in the nav list to the list items*/
}

.nav-list a {
    color: var(--primary);
}

.sticky{
    position:fixed;
    top: 0;
    width: 100%;
}

.stick + .main-content{
    padding-top: 60px;
}

.btn{
    padding: 12px 20px;
    background: transparent;
    outline: none;
    cursor: pointer;
    border-radius: 5px;
}

.btn-secondary{
    border: 2px solid var(--white);
    color: var(--white);
    font-weight: bold;
}

.btn-primary{
    border: none;
    background: var(--secondary);
    color: var(--primary)
}

.main-content{ 
    background-image: url(assets/img/model-3211627_1280.jpg);
    min-height: 70vh;
    background-position: bottom center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    color:var(--white);
    padding-left: 200px;
    
}

.main-content .intro-heading{
    font-size: 50px;
}

.main-content p{
    max-width: 500px;
    margin-bottom: 10px;
   
}

.menu-btn{
    position: absolute;
    top: 20px;
    right: 20px;
    display: none;
    width: 30px;
    cursor: pointer;
}

.section-title h1{
    font-size: 50px;
    text-align: center;
}

.section-title .line{
    width: 250px;
    height: 4px;
    border: 10px;
    background: var(--secondary);
    margin:auto;
}

.services{
    margin-top: 40px;
    display: flex;
    justify-content: center;
    gap: 16px;
    flex-wrap: wrap;
}

.service {
    width:350px;
}

.service img{
    max-width: 100%;
    border-radius: 5px;
    transition: transform 0.2s ease;
}

.service img:hover{
    transform: scale(1.01);
}

#testimonial {
    background: #f1f2fa;
}

#testimonial .container{
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 600px;
    gap: 30px;
    padding: 50px 16px;
}

#testimonial h1{
    font-size: 30px;
    font-family: 'Forum', sans-serif;
    text-align: center;

}

#testimonial .profile{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

#about-us .container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 120px;
}

#about-us .container .about-content{
    max-width: 500px;
    display: flex;
    flex-direction: column;
    gap:10px;
    align-items: start;
}

#about-us .container .about-content h1{
    font-family: "Forum",  sans-serif;
    font-size: 50px;
}

#questions{
    min-height: 500px;
    background-image: url(assets/img/main-2.png);
    background-position: bottom center;
    background-size: cover;
}

#questions .container{
max-width: 500px;
display: flex;
flex-direction: column;
gap: 16px;
align-items: center;
gap:16px;
justify-content: center;
height: 500px;
text-align: center;
text-align: center;
margin-bottom: -90px;
}

#questions h1{
    font-size: 50px;
}

footer{
    margin-top: -60px;
    background-color: var(--white);
    margin-bottom: -20px;
}

footer .container{
    display: flex;
    padding: 20px 16px;
    justify-content: space-between;
    align-items: center;
}

.footer-links{
    display: flex;
    align-items: center;
    gap: 16px;
    list-style: none;
}

.footer-links a {
    color: var(--primary)
}

.footerLogo{
        max-width: 150px;
}

@media screen and (max-width:520px){
    
    .menu-btn {
        display: block;
    }

    .nav-list{
        flex-direction: column;
        background: var(--white);
        position: absolute;
        top: 0;
        display: none;
        right: 10px;
        width: 90%;
        height: 60vh;
        padding-top: 80px;
        transition: all 0.3s ease;
    }  
    
    .nav-list.active{
        display: block;
    }

    .nav-list li {
        text-align: left;
        width: 100%;
        padding: 10px 30px;
        border-bottom: 1px solid var(--primary);
    }

    .main-content{
    padding: 10px;
    }

    #about-us .container {
        flex-direction: column;
        gap:300px;
    }

    footer .container{
        flex-direction: column;
        gap:16px;
    }
}