/* apply a natural box layout model to all elements, but allowing components to change */
html {
    box-sizing: border-box;
  }
  *,
  *:before,
  *:after {
    box-sizing: inherit;
  }
  
  /*Nicolas Gallagher http://nicolasgallagher.com/micro-clearfix-hack/ */
  /* Start of "Micro clearfix" */
  
  .cf {
    zoom: 1;
  }
  .cf:before,
  .cf:after {
    content: "";
    display: table;
  }
  .cf:after {
    clear: both;
  }
  
  /* End of "Micro clearfix" */
  
  /*
  background-image:url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/7248/grid-1.png");*/
  
  main {
    width:90vw;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    background-color: rgba(205, 31, 31, 0.4);
    padding: 20px;
    grid-gap: 0 20px;
  }

  header.primary{
    grid-column-start: 1;
    grid-column-end: 13;
    background-color: rgba(0, 0, 0, 0.4);
  }

#content{
  grid-column: 1/ span 12;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-gap: 20px;
  margin-bottom: 20px;
}

#blog{
  padding:10px;
  grid-column: 1 / 8;
  grid-row: 2;
  background-color: rgba(0, 0, 0, 0.4);
}

aside{
  grid-column: 8 / 13;
  grid-row: 2;
  background-color: rgba(0, 0, 0, 0.4);
  padding: 10px;
}

footer.primary{
  grid-column: 1 / 13;
  background-color:rgba(0, 0, 0, 0.4);
  grid-gap: 10px;
}